@charset 'UTF-8';
@import './variables';

html,
body {
  padding: 0;
  margin: 0;
  font-family: "游ゴシック体", YuGothic, "YuGothic M", sans-serif;
  background-color: lighten($mainColor, 45%);
  color: rgba(0, 0, 0, 0.6);
}

@font-face {
  font-family: "YuGothic M";
  src: local("Yu Gothic Medium"),
       local("Yu Gothic");
  font-weight: 500;
}

* {
  box-sizing: border-box;
}

.under-line {
  border-bottom: 2px solid $mainColor;
}