.header {
    height: 56px;
    background-position: bottom;
    background-size: contain;

    .navbar {
        height: 100%;
        padding: 0 10px;
        
        .h1 {
            height: 100%;
            margin: 0;
            line-height: 1;
    
            .logo {
                height: 100%;
                object-fit: contain;
            }
        }
    }


}