.header {
    height: 56px;
    background-image: url('../public/header-sky3.png');
    background-position: bottom;
    background-size: contain;
    z-index: 10;

    .navbar {
        height: 100%;
        
        .h1 {
            height: 100%;
            margin: 0;
            line-height: 1;
    
            .img_wrapper {
                padding: 7px 0;
                position: absolute;

                .logo {
                    object-fit: contain;
                }
            }
        }
    }


}