.main {
    padding: 20px;
    margin-bottom: 20px;

    .main_body {
        display: flex;

        .main_content {
            width: 70%;
        }

        .sub_content {
            width: 30%;
        }
    }
}

@media screen and (max-width: 540px) {
    .main {
        padding: 10px;

        .main_body {
            flex-direction: column;
            width: 100%;
            
            .main_content {
                width: 100;
            }
            
            .sub_content {
                width: 100%;
            }
        }
    }
}