@media screen and (min-width: 540px) {
    .main {
        padding: 20px;
        margin-bottom: 20px;
        
        .main_body {
            display: flex;
            
            .main_content {
                width: 70%;
            }
            
            .sub_content {
                width: 30%;
            }
        }
        
        .scroll {
            display: none;
        }
    }
}

@media screen and (max-width: 540px) {
    .main {
        padding: 8px;

        .main_body {
            width: 100%;
            
            .main_content {
                width: 100;
            }
            
            .sub_content {
                width: 100%;
            }
        }

        .scroll {
            display: inherit;
            background-color: #FDE68A;
            padding: 0.5em;
            width: 51px;
            height: 51px;
            text-align: center;
            border-radius: 50%;
            position: fixed;
            right: 10px;
            bottom: 10vh;
            font-size: 1.5em;
            z-index: 100;
            opacity: 0;
            visibility: hidden;
            transition-duration: .3s;
            
            &.active {
                transition: .3s;
                opacity: 0.8;
                visibility: visible;
            }
        }
    }
}