.make {
    .wrapper {
        text-align: center;

        .image_wrapper {
            display: flex;
            flex-direction: column;
            padding: 1rem;

            img {
                object-fit: contain;
            }
        }
    }
}