.questions {
    .color {
        color: red;
    }

    &_title {
        text-align: center;
        margin-bottom: 2rem;
    }

    .baloon {
        padding: 0.9rem;
        margin: 0.5rem 0;
        border-radius: 4px;
        display: flex;
        align-items: center;
        
        &.question {
            justify-content: space-between;
            background-color: #e5effd;
            opacity: 0.5;
            transform: scale(0.95, 0.95);
            transition: 0.3s;

            &:hover {
                cursor: pointer;
            }

            &.open {
                opacity: 1;
                transform: scale(1, 1);
            }
        }

        &.answer {
            background-color: rgb(248, 228, 231);
            transition: 0.7s;
            transition-property: opacity, visibility;
            opacity: 0;
            visibility: hidden;
            height: 0;
            margin: 0;
            padding: 0;
            overflow: hidden;

            &.open {
                height: auto;
                opacity: 1;
                visibility: visible;
                margin: 0.5rem 0;
                padding: 0.9rem;
                height: auto;
            }
        }

        .iconWrapper {
            margin: 0 10px;
            font-size: 1.2em;

            svg {
                transition: 0.3s;
            }

            &.open svg {
                transform: rotate(180deg);
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .questions {
        .baloon {
            margin-left: 0;
            margin-right: 0;

            &.answer {
                &.open {
                    margin-left: 0;
                    margin-right: 0;
                }
            }

            .iconWrapper {
                margin: 0 5px 0 0;
            }
        }
    }
}