@import './variables';

.toggle_button {
    position: fixed;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    height: 56px;
    padding: 1rem;
    font-size: 1.4rem;
    z-index: 100;

    .scrolled {
        opacity: 0.5;
        transition: 0.3s;
    }
}

.overlay {
    z-index: 10;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;

    &.open {
        opacity: 1;
        visibility: visible;
    }
}

.sidenav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100vw;
    max-height: 100vh;
    opacity: 0;
    visibility: hidden;
    z-index: 20;
    transition: 0.3s;

    &.open {
        opacity: 1;
        visibility: visible;
    }

    .img_wrapper {
        height: 56px;
        padding: 7px 0;
        border-bottom: 1px solid #999;
        background-image: url('../public/header-sky3.png');
        background-size: cover;
        background-position: bottom;
    }

    .link_wrapper {
        padding: 0.5rem 0.8rem;

        .nav_heading {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0.8rem;
            
            &_body {
                display: flex;
                align-items: center;
            }

            &_btn svg {
                transition: 0.3s;
            }
            
            &_btn.open svg {
                transform: rotate(180deg);
            }
            
            .heading_text {
                margin-left: 0.5rem;
            }
        }
        
        .accordion {
            height: 0;
            overflow: hidden;
            transition: 0.3s;
            visibility: hidden;
            opacity: 0;
            
            &.open {
                height: auto;
                visibility: visible;
                opacity: 1;
            }
            
            .links {
                padding: 0 1.5rem;
                
                .link {
                    color: inherit;
                    text-decoration: none;
                    width: 100%;
                    display: block;
                    padding: 0.8rem 0;

                    .icon_wrapper {
                        margin-right: 0.5rem;
                    }
                }
            }
        }
    }
}

@media screen and (min-width: 540px) {
    .toggle_button {
        display: none;
    }
    .overlay {
        display: none;
    }
    .sidenav {
        display: none;
    }
}